@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.card-content{
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.link.active{
    border: 1px double rgb(167, 139, 250);
    color: rgb(167, 139, 250);
    text-decoration: none;
}

.link{
    text-decoration: none;
}

.tabs-boxed .tab-active{
    background-color: #a78bfa;
}

.btn-primary{
    background-color: #a78bfa;
}

.btn-outline.btn-primary{
    background-color: transparent;
    color: #a78bfa;
    border-color: #a78bfa;
}

.btn-primary:hover{
    background-color: #7c3aed;
    border-color: #7c3aed;
}

.btn-outline.btn-primary:hover{
    background-color: #a78bfa;
    border-color: #a78bfa;
}

.btn-primary.btn-outline.btn-disabled{
    color: #94A3B8;
    border-color: #94A3B8;
}

.select:focus{
    outline: none;
}

.file-input-primary{
    border-color: #a78bfa;
}
.file-input::file-selector-button{
    background-color: #a78bfa;
    border: none;
}
.file-input::file-selector-button:hover{
    background-color: #7c3aed;
}

/*firefox*/
html{
    scrollbar-width: thin;
    scrollbar-color: #a78bfa transparent;
}
/*chrome edge safari*/
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: #a78bfa;
    border-radius: 6px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: unset;
}
