@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.card-content{
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.link.active{
    border: 2px double rgb(167, 139, 250);
    color: rgb(167, 139, 250);
    text-decoration: none;
}

.link-mobile.active{
    border: 2px double rgb(167, 139, 250);
    color: rgb(167, 139, 250);
    text-decoration: none;
}

.link{
    text-decoration: none;
}
